{% if gift.reserved %}
    <span class="reserved">{{ gift }}</span>
    <span class="is-manage">
        <a href="{% url 'gifts:reserve' holiday.key gift.pk %}" data-action="discard" class="js-change discard">
            Снять бронь
        </a>
    </span>
{% else %}
    <span>{{ gift }}</span>
    <span class="is-manage">
        <a href="{% url 'gifts:reserve' holiday.key gift.pk %}" data-action="reserve" class="js-change reserve">
            Забронировать
        </a>
    </span>
{% endif %}

{% comment %}

Продублировали основную верстку для двух состояний элементов в пользу читаемости кода.
Если описать внутри одного блока, то понимать код гораздо сложнее:

<span class="{% if gift.reserved %}reserved{% endif %}">{{ gift }}</span>
<span class="is-manage">
    <a href="{% url 'gifts:reserve' holiday.key gift.pk %}"
       data-action="{% if gift.reserved %}discard{% else %}reserve{% endif %}"
       class="js-change {% if gift.reserved %}discard{% else %}reserve{% endif %}">
            {% if gift.reserved %}Снять бронь{% else %}Забронировать{% endif %}
    </a>
</span>

Тут нет единого решения, допустимы оба варианта с точки зрения работоспособности кода.
Преимущества первого (используемого варианта):
    1. Легче читать и изменять
    2. Меньше вычислений для отрисовки шаблона
Недостатки:
    1. При изменении верстки необходимо её обновить в обоих ветвях (if и else).

{% endcomment %}
