body {
  font-size: 14px;
  font-family: Tahoma, Arial, sans-serif;
  color: #333333;
  padding: 0;
  margin: 0; }

.content {
  margin: auto;
  padding: 10px;
  border: 1px solid gray;
  min-width: 500px;
  max-width: 50%; }

h2 {
  margin: 5px 0; }

.date {
  color: #888888;
  font-size: 90%; }

.is-gifts li {
  padding-top: 7px; }
  .is-gifts li .reserved {
    text-decoration: line-through; }
  .is-gifts li .is-manage {
    margin-left: 20px;
    font-size: 90%; }
    .is-gifts li .is-manage a {
      text-decoration: underline;
      opacity: 0.5; }
      .is-gifts li .is-manage a:hover {
        opacity: 1;
        text-decoration: none; }
      .is-gifts li .is-manage a.reserve {
        color: green; }
      .is-gifts li .is-manage a.discard {
        color: red; }

.js-reserve-form {
  padding: 5px; }
  .js-reserve-form input {
    border: 1px solid gray;
    padding: 2px;
    border-radius: 5px; }
  .js-reserve-form input[type="submit"],
  .js-reserve-form input[type="reset"] {
    background-color: aliceblue;
    cursor: pointer; }
    .js-reserve-form input[type="submit"]:hover,
    .js-reserve-form input[type="reset"]:hover {
      background-color: azure; }
  .js-reserve-form input[type="email"],
  .js-reserve-form input[type="text"] {
    width: 130px; }

.inline {
  display: inline-block; }

.hidden {
  display: none !important; }
